{% assign sorted = "" | split: "," %}

<header>
  <nav>
    <a href="#main" class="main-content" tabindex="0">Skip to Main Content</a>
    <div class="header-left">
      <a href="/">{{ site.title }}</a>
    </div>
    <div class="header-main">
      {% for current_page in site.pages %}
        {% if current_page.order %}
          {% assign sorted = sorted | push: current_page %}
        {% endif %}
      {% endfor %}

      {% assign sorted = sorted | sort: "order" %}

      {% if page.url == "/" %}
        <a href="/" class="active">Home</a>
      {% else %}
        <a href="/">Home</a>
      {% endif %}

      {% for number in sorted %}
        {% if number.header_title %}
          {% assign header_title = number.header_title %}
        {% else %}
          {% assign header_title = number.title %}
        {% endif %}

        {% if number.url == page.url %}
          <a href="{{ number.url }}" class="active">{{ header_title }}</a>
        {% else %}
          <a href="{{ number.url }}">{{ header_title }}</a>
        {% endif %}
      {% endfor %}
    </div>
  </nav>
</header>
